## 忽略编译输出
bin/
obj/
[Bb]uild/
[Ll]og/

## 忽略用户特有配置
*.user
*.suo
*.userosscache
*.sln.docstates

## 忽略 VS 生成的临时文件
*.vs/
*.vscode/

## 忽略 NuGet
packages/
project.lock.json
project.fragment.lock.json

## 忽略发布文件
*.Publish.xml
publish/

## 忽略其他
*.dbmdl
*.bak
*.tmp
push.bat
